*{
    margin: 0;
    padding: 0;
}
.bigbox{
    width: 416px;
    height: 840px;
    background-color: rgb(245,245,248);
    margin: auto;
}
/* 头部 */
.guanli{
    width: 416px;
    height: 60px;
    background-color: rgb(0,152,255);
    margin: auto;
    line-height: 60px;
    color: aliceblue;
    text-align: center;
    
}
 .guanli  span {
     display:inline-block;                
     }
 
a{
    color: aliceblue;
    text-decoration: none;
}
.wd{
  width: 60px;
  float: left;
}

.xz{
    width: 90px;
    float: right;
}

/* 搜索 */
.search{
    float: left;
    width: 416px;
    height: 50px;
    background-color: rgb( 255,255,255);
}
.search input{
    width: 400px;
    height: 36px;
    border: 0ch;
    background-color: rgb(247,247,247);
    color: rgb(195,162,141);
    /* padding-left: 50; 往左移50像素*/
    text-align:center;
    margin-left: 8px;
    margin-top: 7px;
}
.word{
    width: 416px;
    height: 60px;
    margin-top: 10px;
    color: rgb(190,190,191);
    font-size: 90%;
}
.word img{
     vertical-align: middle;  /* 图片和文字居中对齐 */
}

/* 组件1 */
.body1{
    width: 416px;
    height: 94px;
    background-image: url("img/beijing.png");
    margin-top: 20px;
}
.one{
 padding-left: 15px;
}
.two{
padding-left: 15px;
font-size: 10px;
color: rgb(198,198,198);
line-height: 0.5;
}
.three{
font-size: 10px;
color: rgb(254,150,25);
}
.four{
font-size: 10px;
color: rgb(198,198,198);
padding-left: 15px;
}
.body2{
    width: 416px;
    height: 94px;
    background-image: url("img/beijing.png");
    margin-top: 2px;
}

